@import 'tailwindcss';

@theme {
    --color-primary: #3B82F6; 
    --color-primary-hover: #2563EB; 
    --color-secondary: #8B5CF6; 
    --color-secondary-hover: #7C3AED;
    --color-success: #10ca4e; 
    --color-error: #f82828; 
    --color-background: #F9FAFB; 
    --color-surface: #F3F4F6; 
    --color-black: #050202; 
    --color-gray-primary: #1C222E; 
    --color-gray-secondary: #4D5A62; 
    --color-border-color: #D1D5DB; 

    --font-poppins: Poppins, sans-serif;

}

.custom-scrollbar .simplebar-scrollbar::before {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
  transition: opacity 0.6s ease-in-out, background 0.3s ease-in-out;
  opacity: 0;
}

.custom-scrollbar .simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.custom-scrollbar .simplebar-track.simplebar-vertical {
  width: 8px;
  right: 2px;
}

.custom-scrollbar .simplebar-track.simplebar-horizontal {
  height: 8px;
  bottom: 2px;
}

.custom-scrollbar .simplebar-track {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #222 !important;
  caret-color: #222 !important;
  transition: background-color 5000s ease-in-out 0s;
}

